
<script type="text/x-handlebars" data-template-name="erroneous">
  <div class="page-header">
    <h1>Erroneous Page</h1>
  </div>
  <div class="alert alert-warning">
    This is an erroneous page that invalidates the session!
  </div>
</script>
