<div class="page-header">
	<h1>Simple example</h1>
</div>

<p>
 An example of using  <a href="https://github.com/simplabs/ember-simple-auth" target="_blank">Ember-Simple-Auth </a> with the <a href="https://github.com/stefanpenner/ember-app-kit" target="_blank">Ember App Kit </a>
</p>

<div class="alert alert-warning">
  <p>
  This example will NOT work without a companion API server. 
  </p>
  <p>
	  You can use our example 
	  <a href="https://github.com/digitalplaywright/rails-token-auth" target="_blank"> Rails/Devise/Doorkeeper companion server </a>,  <b> or any other oauth API server of your choice </b>. 
  </p>
</div>
