{{#if session.isAuthenticated}}
  <button {{ action 'invalidateSession' }}>Logout</button>
{{else}}
  <button {{ action 'authenticateSession' }}>Login</button>
  {{#link-to "registration"}}Registration{{/link-to}}
{{/if}}