<h4>Login Form</h4>
<form>
  <p>
    {{input id='identification' placeholder='Enter Login' value=identification}}
  </p>
  <p>
    {{input id='password' placeholder='Enter Password' type='password' value=password}}
  </p>
  <button {{action "authenticate"}} type="submit">Login</button>
</form>